-e git+https://github.com/valeoai/ADVENT.git@3e58d45a32fb9763a9d1b459326e1dec7caafe78#egg=ADVENT
albumentations==1.1.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.11
correlation-cuda==0.0.0
cytoolz==0.11.0
-e git+https://github.com/Dayan-Guan/DA-VSN.git@c2fca6b675bac37618015f08af5fb0341226bc34#egg=DA_VSN
dask==0.15.2
decorator==4.4.2
easydict==1.9
filelock==3.4.1
flow-vis==0.1
future==0.18.2
gdown==4.2.1
idna==3.3
imageio==2.9.0
joblib==1.1.0
matplotlib==3.3.4
networkx==2.5.1
numpy==1.17.0
opencv-python-headless==4.5.5.62
pandas==1.1.5
Pillow==8.3.2
protobuf==3.18.0
pycparser==2.20
PySocks==1.7.1
pyyaml==5.4.1
qudida==0.0.4
requests==2.27.1
resample2d-cuda==0.0.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
soupsieve==2.3.1
tensorboardX==2.4
threadpoolctl==3.0.0
tifffile==2020.9.3
torch==1.2.0
torchvision==0.4.0
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.8
